.grid {

    display:grid;
    /* grid: 150px / auto auto auto; */
    grid-auto-rows: 30px;
    grid-auto-columns: 30px;
    grid-template: 30px/auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-gap: 2px;
    background-color:rgb(3, 77, 77);
    padding: 2px;
  }
  
  .grid > div {
    background-color: aqua;
  }

.seats
{
    text-align: center;
    font-weight: 900;
    position: relative;
    right:150px;
}
.seats1
{
    text-align: center;
    font-weight: 900;
    position: relative;
    left:150px;
    top:-57px;
}
#val1
{
    position:relative;
    font-weight: 500;
    font-size: 25px;
    left:430px;
    top: -50px;
}
#val2
{
    position: relative;
    font-weight: 500;
    font-size: 25px;
    left: 750px;
    top: -98px;
}