.grid {

  display:grid;
  /* grid: 150px / auto auto auto; */
  grid-auto-rows: 30px;
  grid-auto-columns: 30px;
  grid-template: 30px/auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  grid-gap: 2px;
  background-color:aqua;
  padding: 2px;
}

.grid > div {
  background-color: aqua;
}